<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cadastro de produtos</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Inicio</a></li>
            <li role="presentation"><a href="/list">Produtos</a></li>
 	    <li role="presentation"><a href="/showSignUp">Enviar</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Bem vindo!</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="submit">Mostrar</a></p>
      </div>
    </div>
  </body>
</html>
